* {margin: 0; padding: 0;}

body {
	background: #00A5B5;
	font-family: Helvetica, Arial, sans-serif;
}
#accordion {
	background: #00A5B5;
	width: 315px; /* Just a filler - Remove for mobile implementation */
	margin: 100px auto 0 auto; /* Just a filler - Remove for mobile implementation */
	color: white;
}

#accordion .title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 20px;
  position: relative;
}

#accordion h3 {
	font-size: 20px;
  font-weight: normal;
	line-height: 50px;
	padding: 0 10px;
	cursor: pointer;
	background: #00A5B5;
  border-top: solid;
  border-width: 1px;
}

#accordion .h3-more {
  border-bottom: solid;
  border-width: 1px;
}


#accordion h3 i {
	margin-right: 20px;
}

#accordion .plus {
  float: right;
}

#accordion li {
	list-style-type: none;
}

#accordion ul ul .fitin-content {
	color: #FFF;
	font-size: 15px;
	line-height: 20px;
	display: block;
	padding: 8px 8px;
	transition: all 0.10s;
}

#accordion ul ul {
	display: none;
}

#accordion button {
  /*margin: 20px 120px;*/
  margin: 20px 90px;
}

#accordion .get-started-btn {
    border: 1px solid #FFF;
    background-color: #00A5B5;
    color: #FFF;
    height:35px;
    width:135px;
    cursor:pointer;
    font-size: 13px;
}

#accordion .get-started-btn:hover {
    border: 1px solid #000;
    opacity: inherit;
    background-color: #FFF;
    color: #000;
}

#accordionHome {

}

#accordionBedBath {

}
#accordionJewelry {
	padding: 0 5px 0 0;
	margin: -2px 5px;
}
#accordionElectronics {
	margin: -3px 0;
}
#accordionHB {
	margin: 0 0 -11px 0;
}
#accordionApparel {
	margin: -4px 0;
	padding: 0 5px 0 0;
}
#accordionLiquidations {
	margin: 10px 0 -7px 0;
	padding: 0 5px 0 0;
}
#accordionHobbies {
	margin: -3px 0;
}
